<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">BlogShare</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container
          *ngIf="user !== undefined && user?.roles?.includes('Writer')"
        >
          <div class="d-flex align-items-center">
            <a class="dropdown-item me-2" [routerLink]="['/admin/categories']"
              >Categories</a
            >
            <a class="dropdown-item" [routerLink]="['/admin/blogposts']"
              >BlogPosts</a
            >
          </div>
        </ng-container>
      </ul>

      <div class="d-flex">
        <ng-container *ngIf="!user && showButtons; else showLogout">
          <!-- Show Login Button -->
          <a
            class="d-flex align-items-center py-0 px-1 me-2 text-decoration-none"
            [routerLink]="['/login']"
            (click)="authService.setRedirectUrl('/write')"
            title="Write"
            style="color: black"
          >
            <i class="bi bi-pencil" style="margin-right: 4px"></i>
            Write
          </a>
          <a [routerLink]="['/login']" class="btn btn-light my-button me-2"
            >Sign In</a
          >
          <a [routerLink]="['/register']" class="btn btn-light register-button"
            >Create Account</a
          >
        </ng-container>

        <ng-template #showLogout>
          <ng-container *ngIf="user">
            <div class="d-flex align-items-center">
              <a
                class="d-flex align-items-center py-0 px-1 me-2 text-decoration-none"
                [routerLink]="['/write']"
                title="Write"
                style="color: black"
              >
                <i class="bi bi-pencil" style="margin-right: 4px"></i>
                Write
              </a>
              <span>{{ user.email }}</span>
              <button class="btn btn-primary ms-3" (click)="onLogout()">
                Logout
              </button>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
