<ng-container *ngIf="user !== undefined && !user?.roles?.includes('Writer')">
  <div class="container">
    <div class="my-2 d-flex flex-wrap align-items-center">
      <ng-container *ngIf="topics$ | async as topics">
        <ng-container *ngFor="let topic of topics">
          <a class="text-decoration-none topic-button m-2" [routerLink]="['/blog',topic.name, topic.id]">{{topic.name}}</a>
        </ng-container>
      </ng-container>
    </div>
    <hr class="faded-line mt-0" />
  </div>
</ng-container>
